@mixin projects-subtitle{
  color: $main_color;
  font-size: 38px;
  font-weight: 300;
  font-family: Volkhov;
  text-align: center;
}

@mixin title{
  font-size: 3.750vw;
  @media (max-width: 576px){
    font-size: 32px;
  }
}