.network{
  margin-top: 140px;
  height: 1083px;
  &_title{
    color: $main_color;
    text-align: center;
    font-size: 72px;
    font-weight: 400;
    line-height: 93px;
    font-family: Volkhov;
  }
}