.team{
  margin-top: 138px;
  &_title{
    color: $main_color;
    font-size: 72px;
    font-family: Volkhov;
    font-weight: 400;
    text-align: center;
  }
  &_wrapper{
    display: flex;
    margin: 77px 140px 0px 140px;
    justify-content: space-evenly;
    //opacity: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  &_item{
    background: linear-gradient(to right, $main_color 1px, transparent 1px) 0 0,
    linear-gradient(to right, $main_color 1px, transparent 1px) 0 100%,
    linear-gradient(to left, $main_color 1px, transparent 1px) 100% 0,
    linear-gradient(to left, $main_color 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, $main_color 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, $main_color 1px, transparent 1px) 100% 0,
    linear-gradient(to top, $main_color 1px, transparent 1px) 0 100%,
    linear-gradient(to top, $main_color 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding: 30px;
    display: flex;
    max-width: 400px;
    &:hover{
      text-decoration: none;
    }
    &_img{
      width: 140px;
      height: 165px;
    }
  }


  &_item_extended{
    display: flex;
    background: linear-gradient(to right, $main_color 1px, transparent 1px) 0 0,
    linear-gradient(to right, $main_color 1px, transparent 1px) 0 100%,
    linear-gradient(to left, $main_color 1px, transparent 1px) 100% 0,
    linear-gradient(to left, $main_color 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, $main_color 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, $main_color 1px, transparent 1px) 100% 0,
    linear-gradient(to top, $main_color 1px, transparent 1px) 0 100%,
    linear-gradient(to top, $main_color 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    //margin-top: 77px;
    max-width: 1400px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    &:after{
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      left: 420px;
      border-left: 1px dashed $main_color;
    }
  }

 .close_button{
   cursor: pointer;
   font-size: 20px;
   color: $main_color;
 }
  .team_text_extended{
    color: black;
    padding: 30px 80px 0px 110px;
    //margin-left: 110px;
    //margin-right: 80px;
    //margin-top: 30px;
    font-size: 16px;
    font-family: Montserrat;

  }



  &_text{
    color: black;
    margin-top: 12px;
    margin-left: 22px;

    &_title{
      color: $main_color;
      font-size: 24px;
      font-weight: 400;
      font-family: Volkhov;

    }

    &_desc{
      font-size: 16px;
      font-family: Montserrat;
      font-weight: 400;
    }

  }
}

.team_active{
  opacity: 1;
  z-index: 1;
  transition-delay: 0.5s;
}