.vision{
  padding-top: 150px;
  &_title{
    font-family: Volkhov;
    font-size: 72px;
    text-align: center;
    color: $main_color;
  }
  &_formula{
    display: flex;
    margin: 38px 120px 0px 120px;
    align-items: center;
    justify-content: space-between;
    &_borders{
      background: linear-gradient(to right, $main_color 1px, transparent 1px) 0 0,
      linear-gradient(to right, $main_color 1px, transparent 1px) 0 100%,
      linear-gradient(to left, $main_color 1px, transparent 1px) 100% 0,
      linear-gradient(to left, $main_color 1px, transparent 1px) 100% 100%,
      linear-gradient(to bottom, $main_color 1px, transparent 1px) 0 0,
      linear-gradient(to bottom, $main_color 1px, transparent 1px) 100% 0,
      linear-gradient(to top, $main_color 1px, transparent 1px) 0 100%,
      linear-gradient(to top, $main_color 1px, transparent 1px) 100% 100%;

      background-repeat: no-repeat;
      background-size: 50px 50px;
      padding: 18px;
    }
    &_item{
      width: 370px;
      height: 208px;
      background: $main_color;
      color: white;
      font-size: 38px;
      text-align: center;
      font-family: Volkhov;
      padding: 56px 34px;
      line-height: 50px;
    }
  }
  &_desc{
    color: black;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    margin: 0 340px;
    margin-top: 60px;
  }
}

.unique_line{
  color: white;
  font-size: 38px;
  text-align: center;
  font-family: Volkhov;
  position: relative;
  &:before{
    content: '';
    width: 100%;
    height: 1px;
    border-top: 1px dashed white;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after{
    content: '';
    width: 100%;
    height: 1px;
    border-top: 1px dashed white;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

#second_item{
  padding: 0px 67px;
  line-height: 67px;
}